@import './components/avatar/avatar.css';
@import './components/button/button.css';
@import './components/navigation/navigation.css';
@import './components/alert/alert.css';

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-page {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.heading {
    
}

.component-page {
    order: 2;
    text-align: center;
    padding: 1em;
}

.title {
    text-align: center;
    font-size: min(14vw, 4rem);
}

ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0;
}

.component-list {

}

.component-list-item {
    font-size: 1rem;
    padding: 0.5em 0;
}

/*General Componenets*/
.item-card {
    position: relative;
    display: flex;
    flex-direction: column;
}

.item-card:hover {
    background-color: rgb(232, 247, 247);
}

.items {
    font-size: 0.75rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}


@media (min-width: 650px) {
    .main-page {
        display: flex;
        flex-direction: row;
    }

    .heading {
        position: relative;
        left: 15%;
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85%;
        height: 100vh;
        margin:0 0;
    }

    .nav {
        position: fixed;
        order: -1;
        width: 15%;
        height: 100vh;      
        display: flex;
        background-color: aqua;
        flex-direction: column;
        text-align: center;
        margin: 0 0;
    }

    .nav:hover {
        overflow-y: auto;
    }

    .component-list-item {
        font-size: 1.3rem;
        padding: 0.5em 0;
    }

    /*General Componenet page*/
    .component-page {
        position: relative;
        left: 15%;
        text-align: unset;
        width: 85%;
        margin-left: 2em;
        padding: 0 0;
        margin: 0;
        padding: 1em;
    }

    .item-card {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        padding: 1em;
    }

    .items {
        font-size: 1rem;
    }

}