<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <title>Button</title>
</head>
<body>
    <div class="main-page">
        <div class="component-page">
            <h1 class="component-title">Buttons</h1>
            <div class="item-card">
                <h3>Primary Buttons</h3>
                <ul class="items">
                    <li class="item"><a href="#" class="btn btn-small btn-primary">Button</a></li>
                    <li class="item"><a href="#" class="btn btn-primary">Button</a></li>
                    <li class="item"><a href="#" class="btn btn-large btn-primary">Button</a></li>
                </ul>
            </div>
            <div class="item-card">
                <h3>Secondary</h3>
                <ul class="items">
                    <li class="item"><a href="#" class="btn btn-small btn-basic">Button</a></li>
                    <li class="item"><a href="#" class="btn btn-basic">Button</a></li>
                    <li class="item"><a href="#" class="btn btn-large btn-basic">Button</a></li>
                </ul>
            </div>
            <div class="item-card">
                <h3>Pill</h3>
                <ul class="items">
                    <li class="item"><a href="#" class="btn btn-small btn-pill">Button</a></li>
                    <li class="item"><a href="#" class="btn btn-pill">Button</a></li>
                    <li class="item"><a href="#" class="btn btn-large btn-pill">Button</a></li>
                </ul>
            </div>
            <div class="item-card">
                <h3>Filled</h3>
                <ul class="items">
                    <li class="item"><a href="#" class="btn btn-secondary">Secondary</a></li>
                    <li class="item"><a href="#" class="btn btn-success">Success</a></li>
                    <li class="item"><a href="#" class="btn btn-danger">Danger</a></li>
                    <li class="item"><a href="#" class="btn btn-warning">Warning</a></li>
                    <li class="item"><a href="#" class="btn btn-info">Info</a></li>
                    <li class="item"><a href="#" class="btn btn-dark">Dark</a></li>
                </ul>
            </div>

        </div>
    
        <aside class="nav">
            <ul class="component-list">
                <li class="component-list-item">
                    <a href="../../index.html">Home</a>
                </li>
                <li class="component-list-item">Avatar</li>
                <li class="component-list-item">Button</li>
                <li class="component-list-item">Image</li>
                <li class="component-list-item">Navigation</li>
                <li class="component-list-item">List</li>
                <li class="component-list-item">Modal</li>
            </ul>
        </aside>
    </div>
</div>
</body>
</html>