<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <title>Avatar</title>
</head>
<body>
    <div class="main-page">
        <div class="component-page">
            <h1 class="component-title">Avatars</h1>
            <div class="item-card">
                <h3>Circular Avatar</h3>
                <ul class="items">
                    <li class="item">
                        <img class="avatar avatar-round avatar-small" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="img">    
                    </li>
                    <li class="item">
                        <img class="avatar avatar-round avatar-medium" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="img">    
                    </li>
                    <li class="item">
                        <img class="avatar avatar-round avatar-large" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="img"> 
                    </li>
                </ul>
            </div>
            <div class="item-card">
                <h3>Rectangular Avatar</h3>
                <ul class="items">
                    <li class="item">
                        <img class="avatar avatar-rectangle avatar-small" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="img">    
                    </li>
                    <li class="item">
                        <img class="avatar avatar-rectangle avatar-medium" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="img">    
                    </li>
                    <li class="item">
                        <img class="avatar avatar-rectangle avatar-large" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="img"> 
                    </li>
                </ul>
            </div>
        </div>

        <aside class="nav">
            <ul class="component-list">
                <li class="component-list-item">
                    <a href="../../index.html">Home</a>
                </li>
                <li class="component-list-item">Avatar</li>
                <li class="component-list-item">Button</li>
                <li class="component-list-item">Image</li>
                <li class="component-list-item">Navigation</li>
                <li class="component-list-item">List</li>
                <li class="component-list-item">Modal</li>
            </ul>
        </aside>
    </div>
</body>
</html>