<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <title>Alerts</title>
</head>
<body>
    <div class="main-page">
        <div class="component-page">
            <h1 class="component-title">Alerts</h1>
            <div class="item-card">
                <h3>Primary Alert</h3>
                <div class="alert alert-primary">
                    <span class="alert-icon"><img src="https://img.icons8.com/android/24/000000/info.png"/></span>
                    <span class="alert-text">This is an info alert — check it out!</span>
                </div>
            </div>
            <div class="item-card">
                <h3>Success Alert</h3>
                <div class="alert alert-success">
                    <span class="alert-icon"><img src="https://img.icons8.com/color/24/000000/double-tick.png"/></span>
                    <span class="alert-text">This is an info alert — check it out!</span>
                </div>
            </div>
            <div class="item-card">
                <h3>Warning Alert</h3>
                <div class="alert alert-warning">
                    <span class="alert-icon"><img src="https://img.icons8.com/emoji/24/000000/warning-emoji.png"/></span>
                    <span class="alert-text">This is an info alert — check it out!</span>
                </div>
            </div>
            <div class="item-card">
                <h3>Fail Alert</h3>
                <div class="alert alert-danger">
                    <span class="alert-icon"><img src="https://img.icons8.com/emoji/24/000000/cross-mark-emoji.png"/></span>
                    <span class="alert-text">This is an info alert — check it out!</span>
                </div>
            </div>
        </div>

        <aside class="nav">
            <ul class="component-list">
                <li class="component-list-item">
                    <a href="../../index.html">Home</a>
                </li>
                <li class="component-list-item">
                    <a href="./alert.html">Alert</a>                   
                </li>
                <li class="component-list-item">
                    <a href="../avatar/avatar.html">Avatar</a>                   
                </li>
                <li class="component-list-item">
                    <a href="../button/button.html">Button</a>
                </li>
                <li class="component-list-item">
                    <a href="../card/card.html">Card</a>
                </li>
                <li class="component-list-item">Image</li>
                <li class="component-list-item">
                    <a href="../navigation/navigation.html">Navigation</a>
                </li>
                <li class="component-list-item">
                    <a href="../list/list.html">List</a>
                </li>
                <li class="component-list-item">
                    <a href="../modal/modal.html">Modal</a>
                </li>     
            </ul>
        </aside>
    </div>
</body>
</html>